{% block hcaptcha_widget  %}
<div class="form-group">
  <div class="h-captcha" data-sitekey="{{ hcaptcha_site_key }}">
  </div>
  <script src="https://hcaptcha.com/1/api.js" async defer></script>
</div>
{% endblock %}
